
body {
  background-color: #0e251f;
}


.Character-container{
  margin-left: 50px;
  margin-right: px
}


.container{
  right: 100px;
  left: 500px;
  color: #95d0c1;
  font-family: 'Great Vibes';
}


h3{
  text-align: center;
}


h2{
  font-size: 40px;
  background-color: aliceblue;
  border-radius: 15%;
  text-align: center;
}


.image{
  border-radius: 50px;
}


.container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
}


.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 30px;
   width: 100%;
   height:  100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
}


.modal-content{
  border-radius: 20%;
  margin-top: 20px;
  text-align: center;
  color: white;
  background-color: #4fb04f;
  opacity: .9; 
  position: absolute;
  left: 50%;
  top: 50%;
  height: 45vh;
  width: 45vw;
  transform: translate(-50%, -50%);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 23px;
}


.TitleName{
  font-size: 300 cm;
  text-align: center;
}


Nav{
  background-image: url("./pictures/lmqrkt.jpg");
  
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
 

  font-size: 3em;
  border-radius: 10%;
  font-family: 'Get Schwifty';
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0,0,0,0.5);
}


@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}
